@import url(./theme.css);
@import url(./nous-rencontrer.css);

#shop,
#shopImage {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

#shopImage {
  padding-bottom: 5px;
}

/* FORMULAIRE DE PRECOMMANDE */
.quantityWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.quantityColumnsWrapper {
  width: 192.53px;
  height: 56px !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.quantityColumnLeft {
  display: flex;
  /* margin-top: 58px; */
}

.quantityColumnRight {
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-self: center;
}

.quantitySelected::-webkit-outer-spin-button,
.quantitySelected::-webkit-inner-spin-button {
  -webkit-appearance: none;
  border: none;
}

.quantitySymbols p {
  width: 25px;
  height: 56px;
  margin-top: 22px;
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.symbol {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
  align-self: center;
  background-color: var(--bg-color);
  margin-right: 50px;
}

.plus {
  border-radius: 0 4px 0 0;
  border-bottom: 1px solid var(--primary-color);
}

.minus {
  border-radius: 0 0 4px 0;
}

.quantityValidatedButton {
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
  color: var(--primary-color);
  background-color: var(--button-bg-order-color);
  /* margin-top: 39px; */
  padding: 21px 35px 21px 35px;
  border-radius: 5px;
}

.quantityValidatedButton:hover {
  background-color: var(--button-bg-color);
}

/* INFORMATION ET LIVRAISON */
.deliveryInfo {
  width: 100%;
  display: flex;
  margin-top: 40px;
  font-family: "Syne", sans-serif;
  color: var(--primary-color);
  justify-content: space-between;
  border-top: 1px solid var(--primary-color);
  padding-top: 50px;
}

.deliveryInfoTitles {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 39px;
}

.inputShop {
  width: 100%;
  font-size: 20px;
  font-weight: 400;
}

.labelOrderForm {
  display: flex;
  justify-content: start;
  padding-top: 20px;
  /* padding-left: 20px; */
  font-family: "Syne", sans-serif;
  font-size: 20px;
  font-weight: 400;
  overflow: hidden;
}

.deliveryInfoColumnsWrapper p > span {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

#infoColumnLeft {
  width: 50%;
  border-right: 1px solid #ffffff;
  padding-right: 30px;
}

#infoColumnRight {
  width: 50%;
  padding-left: 30px;
}

#shop-submit {
  background-color: var(--bg-color);
  margin-top: 64px;
  margin-bottom: 93px;
}

#shop-submit:hover {
  background-color: var(--button-bg-color);
}
