@import url(./theme.css);
@import url(./accueil.css);
#meetUs {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--main-bg-color);
  border-bottom-left-radius: 50% 1.5%;
  border-bottom-right-radius: 50% 1.5%;
  overflow: hidden;
}

#meetUsTitle {
  color: var(--red-color);
}

#team {
  overflow-x: hidden;
}

#teamRightColumn {
  overflow: hidden;
}

#teamBranchImage {
  overflow: hidden;
}

#contact {
  background-color: var(--main-bg-color);
}

#contactMainColumnForm {
  max-width: 393px;
}

.labelForm {
  display: flex;
  justify-content: start;
}

.labelForm span {
  width: 100%;
  display: flex;
  justify-content: center;
}

#form-submit {
  /* width: 198px;
  height: 55px; */
  padding: 20px 70px;
  color: var(--primary-color);
  background-color: var(--bg-color);
}

#form-submit:hover {
  background-color: var(--button-bg-color);
}

#bannerBottomMeetUs {
  background-color: var(--main-bg-color);
}
