@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;700;800&display=swap");
@import url(./accueil.css);
@import url(./nous-rencontrer.css);
@import url(./commander.css);

* {
  font-family: "Syne", sans-serif;
}

html {
  height: 100%;
}

:root {
  --main-color: #000000;
  --main-bg-color: #ece2da;
  --bg-color: #dc9f96;
  --primary-color: #ffffff;
  --secondary-color: #3b8e46;
  --red-color: #d2776a;
  --shadow-color: #00000010;
  --button-bg-color: #c02e44;
  --button-bg-order-color: #e0b9b4;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
}

.container {
  width: 100%;
  box-sizing: border-box;
}

a,
input,
button,
li {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
  list-style: none;
}

/* HEADER */
.header {
  display: none;
}

.header-container {
  width: 100%;
  height: 80px;
  display: flex;
  /* flex-wrap: wrap; */
  color: var(--primary-color);
}

#branding {
  width: 191.61px;
  height: 100%;
  display: flex;
  padding-left: 37px;
}

.custom-logo-link {
  height: 100%;
  display: flex;
  align-items: center;
}

.custom-logo {
  width: 191.61px;
  height: 18.87px;
}

/* NAVIGATION */
#menu {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#menu-principal {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu-principal .menu-item {
  height: 100%;
  display: flex;
  word-wrap: break-word;
}

.menu-item a {
  height: 100%;
  display: flex;
}

.menu-item a span {
  display: flex;
  color: var(--main-color);
  padding: 0 60px;
  align-items: center;
  font-family: "Syne", sans-serif;
  font-size: 16px;
  font-weight: 400;
  transition: all ease-in-out 0.1s;
}

.menu-item a span:hover {
  font-weight: 700;
  font-size: 13px;
}

#menu-item-43 {
  background-color: var(--bg-color);
  order: 3;
}

#menu-item-43:hover {
  background-color: var(--button-bg-color);
}

#menu-item-43 a span {
  color: var(--primary-color);
  font-weight: 700;
}

#menu-item-45 {
  order: 2;
}

/* FOOTER */
.footer {
  bottom: 0;
}

#menu-menu-footer {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
}

#menu-item-55 {
  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 824px) {
  .custom-logo-link {
    width: 90%;
    overflow: hidden;
  }

  .custom-logo {
    width: 90%;
  }

  #menu {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #menu-principal {
    width: 100%;
    display: flex;
    word-wrap: normal;
  }

  #menu-principal .menu-item {
    width: 100%;
  }

  .menu-item a {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .menu-item a span {
    display: flex;
    padding: 0;
    font-size: 12px;
  }
}

@media (max-width: 393px) {
  .header-container {
    display: flex;
  }

  #branding {
    /* width: 80%; */
    overflow: hidden;
  }

  .custom-logo-link {
    width: 80%;
    overflow: hidden;
  }

  .custom-logo {
    width: 80%;
  }

  #menu {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #menu-principal {
    width: 100%;
    display: flex;
    word-wrap: normal;
  }

  #menu-principal .menu-item {
    width: 100%;
  }

  .menu-item a {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .menu-item a span {
    display: flex;
    padding: 0;
    font-size: 10px;
  }
}
