/************ SUMMARY ************/
/*********************************/
/**** 01_GENERAL_SETTINGS ****/
/**** 02_NAVIGATION ****/
/**** 03_HOME ****/
/**** 04_MEET_US ****/
/**** 05_ORDER ****/
/**** 07_MEDIUM_SCREEN_RESPONSIVE_MENU ****/
/**** 08_SMALL_SCREEN_RESPONSIVE_MENU ****/
/**** 09_LARGE_SCREEN_RESPONSIVE ****/
/**** 10_MEDIUM_SCREEN_RESPONSIVE ****/
/**** 11_SMALL_SCREEN_RESPONSIVE ****/
/*********************************/
/*********************************/

/**** 01_GENERAL_SETTINGS ****/
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

html {
  height: 100%;
}

:root {
  --main-color: #000000;
  --main-bg-color: #ece2da;
  --bg-color: #dc9f96;
  --primary-color: #ffffff;
  --secondary-color: #3b8e46;
  --red-color: #d2776a;
  --shadow-color: #00000010;
  --button-bg-color: #c02e44;
  --button-bg-order-color: #e0b9b4;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  overflow-x: hidden;
  font-family: "Syne", sans-serif;
}

.container {
  width: 100%;
  box-sizing: border-box;
}

a,
input,
button,
li {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
  list-style: none;
}

/* HEADER */
.header {
  display: none;
}

.header-container {
  width: 100%;
  height: 80px;
  display: flex;
  /* flex-wrap: wrap; */
  color: var(--primary-color);
}

#branding {
  width: 191.61px;
  height: 100%;
  display: flex;
  padding-left: 37px;
}

.custom-logo-link {
  height: 100%;
  display: flex;
  align-items: center;
}

.custom-logo {
  width: 191.61px;
  height: 18.87px;
}

/*** 02_NAVIGATION ***/
.toggleMenu {
  display: none;
}

#menu {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#menu-principal {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu-principal .menu-item {
  height: 100%;
  display: flex;
  word-wrap: break-word;
}

.menu-item a {
  height: 100%;
  display: flex;
}

.menu-item a span {
  display: flex;
  color: var(--main-color);
  padding: 0 60px;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  /* transition: all ease-in-out 0.1s; */
}

.menu-item a span:hover {
  font-weight: 700;
  top: 1px;
  left: 12px;
}

#menu-item-43 {
  background-color: var(--bg-color);
  order: 3;
}

#menu-item-43:hover {
  background-color: var(--button-bg-color);
}

#menu-item-43 a span {
  color: var(--primary-color);
  font-weight: 700;
}

#menu-item-45 {
  order: 2;
}

/* FOOTER */
.footer {
  bottom: 0;
}

#menu-menu-footer {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
}

#menu-item-55 {
  font-size: 16px;
  font-weight: 400;
}

/**** 03_HOME ****/
/* Banner */
.banner {
  background-color: var(--main-bg-color);
  overflow: hidden;
}

.bannerTitle {
  margin: 0 auto;
  font-size: 38px;
  font-weight: 800;
  text-transform: uppercase;
}

.bannerImage {
  margin: 0 auto;
  overflow: hidden;
}

/* About us */
#aboutUs {
  width: 100%;
  margin-bottom: 82px;
  padding-bottom: 0px;
  text-align: center;
}

#aboutUsWrapper {
  overflow: hidden;
}

.gallery {
  column-gap: 30px;
  margin: 0 auto;
}

/* Products */
/* #productsHome {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-color: var(--main-bg-color);
  border-bottom-left-radius: 50% 9.5%;
  border-bottom-right-radius: 50% 9.5%;
  overflow: hidden;
} */

#productsHome {
  background-color: var(--main-bg-color);
  padding-bottom: 49px;
}

#productsTitle {
  color: var(--red-color);
  background-color: var(--main-bg-color);
}

#productsHomeText {
  display: flex;
  flex: row wrap;
  justify-content: center;
  padding-top: 7px;
  padding-bottom: 1.5em;
}

#productsWrapper {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

#productsSection {
  background-color: var(--main-bg-color);
  padding-bottom: 49px;
}

#productsMainSection {
  background-color: var(--main-bg-color);
}

#productsHomeButton {
  background-color: var(--button-bg-order-color);
  color: var(--primary-color);
}

#productsHomeButton:hover {
  color: var(--primary-color);
  background-color: var(--button-bg-color);
}

/* Testimony */
#testimonyTitle {
  color: var(--secondary-color);
}

/* #testimonyTwo div p {
  width: 100%;
} */

#testimonyTwoColumnTwo {
  width: 30%;
}
#testimonyTwoColumnTwo:first-child {
  width: 150px;
}

#testimonyTwoColumnTwo p {
  width: 100%;
}

.testimonyWrapper {
  margin: 0 auto;
}

/* .testimonyC > .elementor-widget-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.wpr-testimonial-job {
  display: flex;
  flex-wrap: wrap;
} */
/* .testimonyColumn > .elementor-column,
.testimonyColumn > .wpr-testimonial-content-wrap,
.testimonyColumn > .elementor-widget-wrap,
.testimonyColumn > .elementor-element {
  width: 100%;
  display: flex;
  justify-content: center;
}

.testimonyItem {
  align-items: center;
}

.wpr-testimonial-content-wrap {
  width: 100%;
}
.wpr-testimonial-content-inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wpr-testimonial-title {
  width: 100%;
  color: var(--secondary-color);
  margin: 0;
  text-align: left;
  margin-left: 0;
  display: flex;
  justify-content: flex-start;
} */
.testimonySubTitle {
  color: var(--secondary-color);
}

.wpr-testimonial-item {
  align-items: center;
}

.bannerBottom {
  width: 100%;
  padding: 0;
}

#bannerBottomImage {
  background-color: var(--main-bg-color);
}

/**** 04_MEET_US ****/
#arbusteSection {
  background-color: var(--main-bg-color);
}

#meetUs {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--main-bg-color);
  border-bottom-left-radius: 50% 1.5%;
  border-bottom-right-radius: 50% 1.5%;
  overflow: hidden;
}

#meetUsTitle {
  color: var(--red-color);
}

#team {
  overflow-x: hidden;
}

#teamRightColumn {
  overflow: hidden;
}

#teamBranchImage {
  overflow: hidden;
}

#contact {
  background-color: var(--main-bg-color);
}

/* #contactMainColumnForm {
  max-width: 393px;
} */

.labelForm {
  display: flex;
  justify-content: start;
}

.labelForm span {
  width: 100%;
  display: flex;
  justify-content: center;
}

#form-submit {
  /* padding: 20px 70px; */
  color: var(--primary-color);
  background-color: var(--bg-color);
}

#form-submit:hover {
  background-color: var(--button-bg-color);
}

#bannerBottomMeetUs {
  background-color: var(--main-bg-color);
}

/**** 05_ORDER ****/
#shop,
#shopImage,
#shopSubtitle {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

#shopImage {
  padding-bottom: 5px;
}

/* FORMULAIRE DE PRECOMMANDE */
.quantityWrapper {
  height: 56px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 4px 5px 5px 4px;
}

.quantitySelected {
  width: 82px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  background-color: var(--primary-color);
}

.quantityValue {
  height: 56px;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 15px 10px;
  color: var(--main-color);
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

.quantitySymbols {
  height: 56px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0 4px 4px 0;
  color: var(--primary-color);
  background-color: var(--bg-color);
}

#plus {
  width: 100%;
  padding-bottom: 5px;
  text-align: center;
  border-bottom: 1px solid var(--primary-color);
}

#minus {
  padding-top: 2px;
}

.quantityValidatedButton {
  height: 100%;
  width: 100px;
  border-radius: 5px;
  text-transform: uppercase;
  color: var(--primary-color);
  background-color: var(--button-bg-order-color);
}

.quantityValidatedButton:hover {
  background-color: var(--button-bg-color);
}

/* INFORMATION ET LIVRAISON */
.deliveryInfo {
  width: 100%;
  display: flex;
  margin-top: 40px;
  color: var(--primary-color);
  justify-content: space-between;
  border-top: 1px solid var(--primary-color);
  padding-top: 50px;
}

.deliveryInfoTitles {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 39px;
}

#shopName,
#shopFirstname,
#shopEmail,
#shopAddress,
#shopPostCode,
#shopCity {
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  color: var(--main-color);
  padding-left: 10px;
}

.labelOrderForm {
  display: flex;
  justify-content: start;
  padding-top: 20px;
  /* padding-left: 20px; */
  font-size: 20px;
  font-weight: 400;
  overflow: hidden;
}

.deliveryInfoColumnsWrapper p > span {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

#infoColumnLeft {
  width: 50%;
  border-right: 1px solid #ffffff;
  padding-right: 30px;
}

#infoColumnRight {
  width: 50%;
  padding-left: 30px;
}

#shop-submit {
  background-color: var(--bg-color);
  margin-top: 64px;
  margin-bottom: 93px;
}

#shop-submit:hover {
  background-color: var(--button-bg-color);
}

/**** 07_MEDIUM_SCREEN_RESPONSIVE_MENU ****/
@media (max-width: 824px) {
  .custom-logo-link {
    width: 90%;
    overflow: hidden;
  }

  .custom-logo {
    width: 90%;
  }

  #menu {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #menu-principal {
    width: 100%;
    display: flex;
    word-wrap: normal;
  }

  #menu-principal .menu-item {
    width: 100%;
  }

  .menu-item a {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .menu-item a span {
    display: flex;
    padding: 0;
    font-size: 12px;
  }

  .bannerTitle {
    font-size: 1.75rem;
  }
}

/**** 08_SMALL_SCREEN_RESPONSIVE_MENU ****/
@media (max-width: 575px) {
  .header-container {
    display: flex;
  }

  #branding {
    overflow: hidden;
  }

  .custom-logo-link {
    width: 100%;
    overflow: hidden;
  }

  .custom-logo {
    width: 100%;
  }

  .burgerMenu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    z-index: 99;
  }

  .toggleMenu {
    display: inline-flex;
    float: left;
    margin: 25px;
    font-size: 2em;
    color: var(--bg-color);
  }

  #menu {
    position: relative;
    background-color: var(--primary-color);
    text-align: center;
  }

  #menu ul {
    display: none;
    position: absolute;
    /* overflow: auto; */
    top: 80px;
    right: 0;
    z-index: 999;
  }

  #menu ul li {
    float: none;
    display: block;
    position: relative;
    top: 0;
    right: 0;
    min-width: 200px;
    background-color: var(--primary-color);
    text-align: center;
  }

  #menu li:after {
    content: none;
  }

  #menu {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #menu-principal {
    width: 100%;
    display: flex;
    word-wrap: normal;
  }

  #menu-principal .menu-item {
    width: 100%;
  }

  .menu-item a {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .menu-item a span {
    display: flex;
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: var(--main-color);
  }

  #menu-item-43 a span {
    color: var(--main-color);
    font-weight: 400;
  }

  #menu-item-43 {
    background-color: var(--bg-color);
    order: 3;
  }

  #menu-item-44 {
    order: 1;
  }

  #menu-item-45 {
    order: 2;
  }
}

/**** 09_LARGE_SCREEN_RESPONSIVE ****/
@media only screen and (min-width: 1201px) and (max-width: 1440px) {
}

@media only screen and (min-width: 1201px) and (max-width: 1440px) {
  .testimonyWrapper {
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  /* #teamBranchImage {
    right:
  } */
  .testimonyWrapper {
    margin: 0 auto;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
  #aboutUsTitle {
    margin-top: 4em;
    margin-bottom: 2em;
  }

  #columnsP {
    width: 90%;
    margin: 0 auto;
  }

  #teamBranchImage {
    left: 0;
    right: 0;
  }

  .quantityWrapper {
    height: 46px;
  }

  .quantitySelected {
    width: 72px;
  }

  .quantitySymbols {
    height: 46px;
  }

  .quantityValidatedButton {
    width: 50px;
  }
}

/**** 10_MEDIUM_SCREEN_RESPONSIVE ****/
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #columnsP {
    width: 80%;
    margin: 0 auto;
  }

  .bannerTitle {
    margin: 0 auto;
  }

  #aboutUsTitle {
    margin-top: 4em;
  }

  #shopImage {
    padding-bottom: 5px;
  }

  .quantityWrapper {
    height: 46px;
  }

  .quantitySelected {
    width: 72px;
  }

  .quantitySymbols {
    height: 100%;
  }

  .quantityValidatedButton {
    width: 50px;
  }

  .deliveryInfo {
    width: 100%;
    margin: 0 auto;
  }

  .deliveryInfoTitles {
    font-size: 20px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  #testimony {
    width: 100%;
  }

  #testimonyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .product .testimonyText p {
    max-width: 210.65px;
    margin: 0 auto;
  }

  #columnsP {
    width: 100%;
    margin: 0 auto;
  }

  #aboutUs {
    margin: 0 auto;
  }

  #aboutUsTitle {
    width: 100%;
    padding-top: 3em;
  }

  #sectionIntern {
    display: flex;
    flex-direction: column;
  }

  .im {
    width: 100%;
  }

  #shopImage {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .shopItemImage {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .quantityWrapper {
    width: 66%;
    margin: 0 auto;
  }

  .quantitySelected {
    width: 150px;
  }

  .quantitySymbols {
    width: 25%;
  }

  .quantityValidatedButton {
    width: 150px;
  }

  .deliveryInfoTitles {
    font-size: 20px;
  }

  .deliveryInfo {
    width: 100%;
    font-display: flex;
    flex-direction: column;
  }

  #infoColumnLeft {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #ffffff;
    padding-right: 0;
    padding-bottom: 50px;
  }

  #infoColumnRight {
    width: 100%;
    padding-left: 0;
    padding-top: 50px;
  }
}

/**** 11_SMALL_SCREEN_RESPONSIVE ****/
@media only screen and (min-width: 320px) and (max-width: 575px) {
  #columnsP {
    width: 100%;
    margin: 0 auto;
  }

  #aboutUsTitle {
    margin-top: 4em;
  }

  #productsHomeText {
    padding-bottom: 30px;
  }

  .bannerBottom {
    width: 100%;
    padding: 0;
    margin: 0;
    object-fit: contain;
  }

  /* .bannerBottomImage {
    width: 100%;
    object-fit: contain;
    margin: 0;
    overflow: hidden;
  } */

  #shopImage {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .shopItemImage {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .quantityWrapper {
    width: 72%;
    margin: 0 auto;
  }

  .quantitySelected {
    width: 200px;
  }

  .quantitySymbols {
    width: 25%;
  }

  .quantityValidatedButton {
    width: 160px;
  }

  .deliveryInfo {
    font-display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
  }

  .deliveryInfoTitles {
    font-size: 20px;
  }

  #infoColumnLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #ffffff;
    padding-right: 0;
    padding-bottom: 50px;
  }

  #infoColumnRight {
    width: 100%;
    padding-left: 0;
    padding-top: 50px;
  }
}
