/************ SUMMARY ************/
/*********************************/
/**** 01_GENERAL_SETTINGS ****/
/**** 02_NAVIGATION ****/
/**** 03_HOME ****/
/**** 04_MEET_US ****/
/**** 05_ORDER ****/
/**** 06_LARGE_SCREEN_RESPONSIVE ****/
/**** 07_MEDIUM_SCREEN_RESPONSIVE ****/
/**** 08_SMALL_SCREEN_RESPONSIVE ****/
/*********************************/
/*********************************/

/**** 01_GENERAL_SETTINGS ****/
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;700;800&display=swap");

* {
  font-family: "Syne", sans-serif;
}

html {
  height: 100%;
}

:root {
  --main-color: #000000;
  --main-bg-color: #ece2da;
  --bg-color: #dc9f96;
  --primary-color: #ffffff;
  --secondary-color: #3b8e46;
  --red-color: #d2776a;
  --shadow-color: #00000010;
  --button-bg-color: #c02e44;
  --button-bg-order-color: #e0b9b4;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
}

.container {
  width: 100%;
  box-sizing: border-box;
}

a,
input,
button,
li {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
  list-style: none;
}

/* HEADER */
.header {
  display: none;
}

.header-container {
  width: 100%;
  height: 80px;
  display: flex;
  /* flex-wrap: wrap; */
  color: var(--primary-color);
}

#branding {
  width: 191.61px;
  height: 100%;
  display: flex;
  padding-left: 37px;
}

.custom-logo-link {
  height: 100%;
  display: flex;
  align-items: center;
}

.custom-logo {
  width: 191.61px;
  height: 18.87px;
}

/*** 02_NAVIGATION ***/
#menu {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#menu-principal {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu-principal .menu-item {
  height: 100%;
  display: flex;
  word-wrap: break-word;
}

.menu-item a {
  height: 100%;
  display: flex;
}

.menu-item a span {
  display: flex;
  color: var(--main-color);
  padding: 0 60px;
  align-items: center;
  font-family: "Syne", sans-serif;
  font-size: 16px;
  font-weight: 400;
  transition: all ease-in-out 0.1s;
}

.menu-item a span:hover {
  font-weight: 700;
  font-size: 13px;
}

#menu-item-43 {
  background-color: var(--bg-color);
  order: 3;
}

#menu-item-43:hover {
  background-color: var(--button-bg-color);
}

#menu-item-43 a span {
  color: var(--primary-color);
  font-weight: 700;
}

#menu-item-45 {
  order: 2;
}

/* FOOTER */
.footer {
  bottom: 0;
}

#menu-menu-footer {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
}

#menu-item-55 {
  font-size: 16px;
  font-weight: 400;
}

/**** 03_HOME ****/
/* Banner */
#banner {
  position: relative;
  background-color: var(--main-bg-color);
  /* border-bottom: 10px solid var(--shadow-color); */
  overflow: hidden;
}

#home-title {
  font-family: "Syne", sans-serif;
  font-size: 38px;
  font-weight: 800;
  text-transform: uppercase;
}

/* About us */
#aboutUs {
  margin-bottom: 82px;
  padding-bottom: 49px;
}

/* Products */
/* #productsHome {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-color: var(--main-bg-color);
  border-bottom-left-radius: 50% 9.5%;
  border-bottom-right-radius: 50% 9.5%;
  overflow: hidden;
} */

#productsHome {
  background-color: var(--main-bg-color);
  padding-bottom: 49px;
}

#productsHomeTitle {
  color: var(--red-color);
  background-color: var(--main-bg-color);
}

#productsHomeText {
  display: flex;
  flex: row wrap;
  justify-content: center;
  padding-top: 7px;
  padding-bottom: 49px;
  background-color: var(--main-bg-color);
}

/* #productsHomeContainer {
  max-width: 816px;
  width: 887.19px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#productsHomeWrapper {
  width: 887.19px;
  background-color: var(--main-bg-color);
  margin: 0 auto;
}*/

#productsWrapper {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.productsImagesColumns {
  width: 393px;
  height: 262px;
}

.productsImages {
  width: 100%;
  background-size: cover;
}

#productsHomeButton {
  margin-top: 47px;
  /* margin-bottom: 49px; */
  background-color: var(--bg-color);
  color: var(--primary-color);
}

#productsHomeButton:hover {
  color: var(--primary-color);
  background-color: var(--button-bg-color);
}

/* Testimony */
#testimonyTitle {
  color: var(--secondary-color);
}

.testimonySubTitle {
  color: var(--secondary-color);
}

.bannerBottom {
  width: 100%;
  padding: 0;
}

.bannerBottomImage {
  /* height: auto; */
  width: 100%;
  overflow: hidden;
}

#bannerBottom {
  background-color: var(--main-bg-color);
}

/**** 04_MEET_US ****/
#meetUs {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--main-bg-color);
  border-bottom-left-radius: 50% 1.5%;
  border-bottom-right-radius: 50% 1.5%;
  overflow: hidden;
}

#meetUsTitle {
  color: var(--red-color);
}

#team {
  overflow-x: hidden;
}

#teamRightColumn {
  overflow: hidden;
}

#teamBranchImage {
  overflow: hidden;
}

#contact {
  background-color: var(--main-bg-color);
}

#contactMainColumnForm {
  max-width: 393px;
}

.labelForm {
  display: flex;
  justify-content: start;
}

.labelForm span {
  width: 100%;
  display: flex;
  justify-content: center;
}

#form-submit {
  padding: 20px 70px;
  color: var(--primary-color);
  background-color: var(--bg-color);
}

#form-submit:hover {
  background-color: var(--button-bg-color);
}

#bannerBottomMeetUs {
  background-color: var(--main-bg-color);
}

/**** 05_ORDER ****/
#shop,
#shopImage {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

#shopImage {
  padding-bottom: 5px;
}

/* FORMULAIRE DE PRECOMMANDE */
.quantityWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.quantityColumnsWrapper {
  width: 192.53px;
  height: 56px !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.quantityColumnLeft {
  display: flex;
  /* margin-top: 58px; */
}

.quantityColumnRight {
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-self: center;
}

.quantitySelected::-webkit-outer-spin-button,
.quantitySelected::-webkit-inner-spin-button {
  -webkit-appearance: none;
  border: none;
}

.quantitySymbols p {
  width: 25px;
  height: 56px;
  margin-top: 22px;
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.symbol {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
  align-self: center;
  background-color: var(--bg-color);
  margin-right: 50px;
}

.plus {
  border-radius: 0 4px 0 0;
  border-bottom: 1px solid var(--primary-color);
}

.minus {
  border-radius: 0 0 4px 0;
}

.quantityValidatedButton {
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
  color: var(--primary-color);
  background-color: var(--button-bg-order-color);
  /* margin-top: 39px; */
  padding: 21px 35px 21px 35px;
  border-radius: 5px;
}

.quantityValidatedButton:hover {
  background-color: var(--button-bg-color);
}

/* INFORMATION ET LIVRAISON */
.deliveryInfo {
  width: 100%;
  display: flex;
  margin-top: 40px;
  font-family: "Syne", sans-serif;
  color: var(--primary-color);
  justify-content: space-between;
  border-top: 1px solid var(--primary-color);
  padding-top: 50px;
}

.deliveryInfoTitles {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 39px;
}

.inputShop {
  width: 100%;
  font-size: 20px;
  font-weight: 400;
}

.labelOrderForm {
  display: flex;
  justify-content: start;
  padding-top: 20px;
  /* padding-left: 20px; */
  font-family: "Syne", sans-serif;
  font-size: 20px;
  font-weight: 400;
  overflow: hidden;
}

.deliveryInfoColumnsWrapper p > span {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

#infoColumnLeft {
  width: 50%;
  border-right: 1px solid #ffffff;
  padding-right: 30px;
}

#infoColumnRight {
  width: 50%;
  padding-left: 30px;
}

#shop-submit {
  background-color: var(--bg-color);
  margin-top: 64px;
  margin-bottom: 93px;
}

#shop-submit:hover {
  background-color: var(--button-bg-color);
}

/**** 06_LARGE_SCREEN_RESPONSIVE ****/
@media (max-width: 1024px) {
  #aboutUsTitle {
    margin-top: 4em;
    margin-bottom: 2em;
  }

  /* .sectionIntern {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
  } */

  /* #productsHomeTitle {
    max-width: 326px;
  } */

  /* .productsImagesColumns {
    width: 80%;
  }

  .productsImages {
    width: 50%;
  }

  .productsImages h3 {
    font-size: 48px;
  } */

  /* #productsHomeWrapper {
    width: 326.59px;
    background-color: var(--main-bg-color);
    overflow: hidden;
  }

  #productsHomeImageTitle {
    font-size: 38px;
    text-align: center;
  } */
}

/**** 07_MEDIUM_SCREEN_RESPONSIVE ****/
@media (max-width: 824px) {
  .custom-logo-link {
    width: 90%;
    overflow: hidden;
  }

  .custom-logo {
    width: 90%;
  }

  #menu {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #menu-principal {
    width: 100%;
    display: flex;
    word-wrap: normal;
  }

  #menu-principal .menu-item {
    width: 100%;
  }

  .menu-item a {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .menu-item a span {
    display: flex;
    padding: 0;
    font-size: 12px;
  }

  #home-title {
    font-size: 1.75rem;
  }
}

@media (max-width: 767px) {
  .product .testimonyText p {
    max-width: 210.65px;
    margin: 0 auto;
  }
}

/* @media (max-width: 767px) {
  
  .testimonyText p {
    max-width: 210.65px;
    margin: 0 auto;
  }
} */

/**** 08_SMALL_SCREEN_RESPONSIVE ****/
@media (max-width: 393px) {
  .header-container {
    display: flex;
  }

  #branding {
    /* width: 80%; */
    overflow: hidden;
  }

  .custom-logo-link {
    width: 80%;
    overflow: hidden;
  }

  .custom-logo {
    width: 80%;
  }

  #menu {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #menu-principal {
    width: 100%;
    display: flex;
    word-wrap: normal;
  }

  #menu-principal .menu-item {
    width: 100%;
  }

  .menu-item a {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .menu-item a span {
    display: flex;
    padding: 0;
    font-size: 10px;
  }

  /* #productsHomeText {
    display: flex;
    flex: row wrap;
    overflow: hidden;
  } */
}
