@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;700;800&display=swap");
@import url(../theme.css);

/* Style pour le shortcode .image-title */
#image-title-home {
  height: 18.25rem;
  max-width: 24.563rem;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  text-transform: uppercase;
}

#productsHomeImageTitle {
  font-family: "Syne", sans-serif;
  font-size: 48px;
  font-weight: 800;
  margin: 0 50px;
  text-align: center;
  color: var(--primary-color);
}

@media (max-width: 768px) {
  #image-title-home {
    width: 393px;
  }
}
@media (max-width: 360px) {
  #image-title-home {
    width: 360px;
  }

  .productsHomeImageTitle {
    font-size: 38px;
    word-break: break-all;
  }
}
